{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}

<h2>All categories</h2>

<div class="row">
<div class="col-8">
<hr>
{% for category in categories %}
<div class="row">
    <div class="col-12 border pt-3">
        <h3>{{ category.name }}</h3>
        <p> {{ category.description }} </p>
    </div>
</div>
{% endfor %}
</div>
<div class="col-4 text-right">
    <img class="img-thumbnail " src="{{asset('uploads/images/' ~ app.user.profileImage)}}">
    <div class="p-3 ">
        <h3>{{app.user.nickname}}</h3>
        <h6>{{app.user.email}}</h6>
        {% if app.user == user %}
        <a role="button" class="btn btn-sm btn-secondary mb-3" href="{{path('user.update', {id: user.id})}}">Edit profile</a>
        <a role="button" class="btn btn-sm btn-danger mb-3" href="{{path('app_logout')}}">Log out</a>
        {% endif %}
    </div>
</div>
</div>

{% endblock %}
