{% extends 'base.html.twig' %}

{% block title %}MusicLover{% endblock %}

{% block body %}
{% for post in posts %}
    <div class="p-3 row ">
        <div class="col-2 my-auto">
            <img class="mt-2 rounded" 
                {% if post.imagename is null %}
                src="{{asset('/default/track-img.jpg')}}" alt="default image"
                {% else %}
                src="{{asset('/uploads/images/' ~ post.imagename )}}" alt="{{post.name}}"
                {% endif %}
                width="150px" height="150px">           
        </div>
        <div class="col-10 pt-2">
      {#         <div class="col-12 mt-2">
                <p class="h3">
                    {{post.name}} 
                </p>
                <p class="h6">
                    {{post.description}}
                </p>
                {% if post.user is null %} 
                {% else %}
                <p class="h6"> 
                    Uploaded by 
                    <a href="{{path('user.profile', {id: post.user.id})}}">{{post.user.nickname}}
                    </a>
                    <em>{{post.createdAt|date()}}</em>
                </p>
                {% endif %}
            </div> #}
            
            <div class="audio-player">
                <div class="timeline">
                    <div class="progress"></div>
                </div>
                <div class="d-flex">
                    <div class="controls">
                        <div class="play-container">
                            <div class="toggle-play play">
                            </div>
                        </div>
                        <div class="time">
                            <div class="current">0:00</div>
                            <div class="divider">/</div>
                            <div class="length"></div>
                        </div>
                        <div class="name"> {{post.name}}</div>
                        <div class="volume-container">
                            <div class="volume-button">
                                <div class="volume icono-volumeMedium"></div>
                            </div>
                            
                            <div class="volume-slider">
                                <div class="volume-percentage"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-none">
                <audio class="w-100" controls class="" >
                    <source src="{{asset('uploads/audio/') ~ post.trackname }}">
                </audio>
            </div>
        </div>
    </div>
{% endfor %}

{% endblock %}
