{% extends 'base.html.twig' %}

{% block body %}
    <div class="row mt-4">
    
        <div class="col-8">
            
            {% for post in posts %}
                <div class="p-3 row border  rounded mt-2">
                    <div class="col-3">

                        <img class="img-thumbnail mt-2" 
                        {% if post.imagename is null %}
                        src="{{asset('/default/track-img.jpg')}}" alt="default image"
                        {% else %}
                        src="{{asset('/uploads/images/' ~ post.imagename )}}" alt="{{post.name}}"
                        {% endif %}
                        >

                    </div>
                    <div class="col-9 ">
                        
                        <div class="col-12 mt-2">

                            <p class="h4">
                                {{post.name}} 
                            </p>
                            <p class="h6">
                                {{post.description}}
                            </p>
                            {% if post.user is null %} 
                            {% else %}
                            <p class="h6">
                                <em><small>{{post.createdAt|date()}} </small></em>
                            </p>
                            {% endif %}

                        </div>
                  
                        <audio class="w-100" controls class="" width="300" height="32" >
                            <source src="{{asset('uploads/audio/') ~ post.trackname }}">
                        </audio>

                    </div>

                </div>
            {% endfor %}
        </div>
        <div class="col-4 text-right">
            <img class="img-thumbnail " src="{{asset('uploads/images/' ~ user.profileImage)}}">
            <div class="p-3 ">
                <h3>{{user.nickname}}</h3>
                <h6>{{user.email}}</h6>

                {% if app.user == user %}
                <a role="button" class="btn btn-sm btn-secondary mb-3" href="{{path('user.update', {id: user.id})}}">Edit profile</a>

                <a role="button" class="btn btn-sm btn-danger mb-3" href="{{path('app_logout')}}">Log out</a>
            
                {% endif %}
            </div>
        </div>
    </div>
    

{% endblock %}
